<app-search></app-search>

<ul>

    <li *ngFor="let foodList of food;">
        <a>
            <img src="{{foodList.imageUrl}}" alt="">
            <div class="content">
                <div class="name">
                    {{foodList.name}}
                </div>
                <span class="favorite" [ngClass]=" {'blackdiv': !foodList.favoirate}"><i class="fa fa-heart"
                        aria-hidden="true"></i></span>

                <ngb-rating [max]="5" [(rate)]="foodList.star" [readonly]="true" checkedColor="red"
                    uncheckedcolor="black"></ngb-rating>
                <div class="product-item-footer">
                    <div class="origin">
                        <span *ngFor="let origin of foodList.origins">
                            {{origin}}
                        </span>
                    </div>
                    <div class="cook-time">
                        <span>🕒</span>
                        {{foodList.cookTime}}
                    </div>
                </div>
                <div class="price">
                    {{foodList.price|currency}}
                </div>


            </div>
        </a>
    </li>

</ul>